

*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;	

}


.wrapper{
	background-image: url(/images/How-to-Get-More-Productivity-From-a-Larger-Team-1180x664.png);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 350px;
	width: 100%;
	padding: 25px; 
	border-radius: 5px;
	box-shadow: 4px 4px 2px rgb(255, 255, 255);
	
}

.wrapper .input_field{
	margin-bottom: 10px;
}

.input_field .text{
	color: white;
}
.wrapper .input_field input[type="text"],
.wrapper textarea{
	width: 100%;
	border:1px solid #ffffff;
	padding: 10px;
}


h2{
	color: rgb(253, 248, 248);
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}

.wrapper textarea{
	height: 80px;
	resize: none;
}

.wrapper .btn input[type="submit"]{
	border: 0;
	margin-top: 15px;
	padding: 10px;
	width: 55%;
	background: #120e2e;
}

